<%= form_with(model: package_version) do |form| %>
  <% if package_version.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(package_version.errors.count, "error") %> prohibited this package_version from being saved:</h2>

      <ul>
        <% package_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :package_id, style: "display: block" %>
    <%= form.text_field :package_id %>
  </div>

  <div>
    <%= form.label :levels, style: "display: block" %>
    <%= form.text_field :levels %>
  </div>

  <div>
    <%= form.label :scripts, style: "display: block" %>
    <%= form.text_field :scripts %>
  </div>

  <div>
    <%= form.label :templates, style: "display: block" %>
    <%= form.text_field :templates %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
