<div id="<%= dom_id package_version %>">
  <p>
    <strong>Package:</strong>
    <%= package_version.package_id %>
  </p>

  <p>
    <strong>Levels:</strong>
    <%= package_version.levels %>
  </p>

  <p>
    <strong>Scripts:</strong>
    <%= package_version.scripts %>
  </p>

  <p>
    <strong>Templates:</strong>
    <%= package_version.templates %>
  </p>

</div>
