<%= turbo_frame_tag dom_id(@package, :versions) do %>
  <%= render "shared/hero", title: "Versions" %>
  <p style="color: green"><%= notice %></p>
  <div id="package_versions">
    <% @package_versions.each do |package_version| %>
      <div class="box">
        <%= render package_version %>
        <p>
          <%= link_to "Show this package version", package_version %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
