<p style="color: green"><%= notice %></p>

<%= render @package_version %>

<div>
  <%= link_to "Edit this package version", edit_package_version_path(@package_version) %> |
  <%= link_to "Back to package versions", package_versions_path %>

  <%= button_to "Destroy this package version", @package_version, method: :delete %>
</div>
