<%= render "shared/hero", title: "Conversations" %>
<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <div id="conversations">
      <% @conversations.each do |conversation| %>
        <div class="box">
          <%= render conversation %>
          <p>
            <%= link_to "Show this conversation", conversation %>
          </p>
        </div>
      <% end %>
    </div>
    <%= link_to "New conversation", new_conversation_path %>
  </div>
</section>
