<%= turbo_frame_tag dom_id(@game, :versions) do %>
  <% @game_versions.each do |game_version| %>
    <%= render "shared/hero", title: "Versions" %>
    <p style="color: green"><%= notice %></p>
    <div class="box">
      <%= render game_version %>
      <p>
        <%= link_to "Show this game version", game_version %>
      </p>
    </div>
  <% end %>
  <%= link_to "New game version", new_game_game_version_path(@game) %>
<% end %>
